<!-- DEPLOYMENT: control and visualize robot with joint space controllers and moveit-->
<launch>
	<arg name="run_real" default="false" doc="Run on real robot."/>

	<machine name="localhost" address="localhost" user="oleg" default="true"/>
	<machine name="sweetiebot" address="localhost" user="oleg" default="never"/>

	<!-- load parameters -->
	<param name="robot_description" textfile="$(find sweetie_bot_description_proto2)/robots/sweetie_bot_description_proto2.URDF" />
	<include ns="sweetie_bot" file="$(find sweetie_bot_deploy)/joint_state_control/joint_space_param.launch"/>

	<!-- ROBOT -->

	<!-- start virtual robot -->
	<group ns="sweetie_bot">
		<!-- sweetie_bot core -->
		<include file="$(find sweetie_bot_deploy)/motion_core/sweetie_bot_core.launch">
			<arg name="run_real" value="$(arg run_real)" /> 
			<arg if="$(arg run_real)" name="modules" value="motion.lua controller_joint_space_all.lua" />
			<arg unless="$(arg run_real)" name="modules" value="virtual_motion.lua controller_joint_space_all.lua" />
			<arg name="overlays" value="joint_state_control motion_core" /> 
			<arg name="interactive" value="true" /> 
		</include>
		<include file="$(find sweetie_bot_deploy)/joint_state_control/moveit.launch">
		</include>
	</group>

	<!-- HMI -->

	<!-- run rviz -->
	<group ns="hmi">
		<!-- manual joints control for virtual robot -->
		<node name="joint_state_ref" pkg="joint_state_publisher" type="joint_state_publisher">
			<param name="use_gui" value="true"/>
			<remap from="robot_description" to="/robot_description"/>
			<remap from="joint_states" to="/sweetie_bot_/motion/controller/joint_state/in_joints_ref"/>
		</node>
		<!-- vizualization -->
		<!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find sweetie_bot_deploy)/joint_state_control/moveit_control.rviz">
		</node>-->
	</group>
</launch>
