<!-- DEPLOYMENT: control and visualize robot with joint space controllers -->
<launch>
	<arg name="run_real" default="false" doc="Run on real robot."/>

	<machine name="localhost" address="localhost" user="oleg" />
	<machine name="sweetiebot" address="localhost" user="oleg" />

	<!-- load parameters -->
	<param name="robot_description" textfile="$(find sweetie_bot_description_proto2)/robots/sweetie_bot_description_proto2.URDF" />

	<!-- start robot -->
	<group ns="sweetie_bot">
		<!-- load parameters -->
		<include file="$(find sweetie_bot_deploy)/joint_state_control/joint_space_param.launch"/>
		<!-- motion core -->
		<include file="$(find sweetie_bot_deploy)/motion_core/motion.launch">
			<arg if="$(arg run_real)" name="machine" value="sweetiebot" />
			<arg unless="$(arg run_real)" name="modules" value="virtual_motion.lua controller_joint_space_all.lua" />
			<arg if="$(arg run_real)" name="modules" value="motion.lua controller_joint_space_all.lua" />
			<arg name="overlays" value="joint_state_control motion_core" /> <!-- OROCOS deployment overlays list -->
		</include>
		<!-- robot_state_publisher: reference or virtual position -->
		<include file="$(find sweetie_bot_deploy)/motion_core/robot_state.launch"/>
		<!-- robot_state_publisher: publish real position -->
		<include if="$(arg run_real)" file="$(find sweetie_bot_deploy)/motion_core/robot_state.launch">
			<arg name="name" value="robot_state_publisher_real" />
			<arg name="tf_prefix" value="real" />
			<arg name="joint_states_topic" value="motion/agregator_real/out_joints_sorted" />
		</include>
		<!-- odometry: fix base frames -->
		<node pkg="tf" type="static_transform_publisher" name="odometry" args="0 0 0 0 0 0 odom_combined base_link 100" /> 
		<node if="$(arg run_real)" pkg="tf" type="static_transform_publisher" name="odometry_real" args="0 0 0 0 0 0 odom_combined real/base_link 100" /> 
	</group>

	<!-- relays to display robot -->
	<node name="tf_relay" pkg="topic_tools" type="relay" args="sweetie_bot/tf tf"/>
	<node name="tf_static_relay" pkg="topic_tools" type="relay" args="sweetie_bot/tf_static tf"/>
	
	<!-- run rviz -->
	<group ns="hmi">
		<node name="joint_state_ref" pkg="joint_state_publisher" type="joint_state_publisher">
			<param name="use_gui" value="true"/>
			<remap from="robot_description" to="/robot_description"/>
			<remap from="joint_states" to="/sweetie_bot/motion/controller/joint_state/in_joints_ref"/>
		</node>
		<node name="rviz" pkg="rviz" type="rviz" args="-d $(find sweetie_bot_description_proto2)/urdf.rviz">
		</node>
	</group>
</launch>
