<!-- MODULE: run eyes nodes in LOCAL namespace -->
<launch>
	<!-- <arg name="machine" default="localhost" doc="Machine to run nodes"/> -->
	<arg name="run_real" default="false" doc="Run on real robot."/>

	<!-- run eyes on fb device -->
	<group if="$(arg run_real)">
		<node machine="sweetiebot" name="eye_left"  pkg="sweetie_bot_eyes" type="eye" args="-l -platform linuxfb:fb=/dev/fb1 -plugin EvdevKeyboard"></node>
		<node machine="sweetiebot" name="eye_rigth" pkg="sweetie_bot_eyes" type="eye" args="-r -platform linuxfb:fb=/dev/fb2 -plugin EvdevKeyboard"></node>
	</group>
	<!-- run eyes in windows -->
	<group unless="$(arg run_real)">
		<node name="eye_left"  pkg="sweetie_bot_eyes" type="eye" args=""></node>
		<node name="eye_rigth" pkg="sweetie_bot_eyes" type="eye" args="-r"></node>
	</group>
</launch>
