<!-- DEPLOYMENT: start eyes. Use this script for debug purpose. -->
<launch>
	<!-- <arg name="machine" default="localhost" doc="Machine to run nodes"/> -->
	<arg name="run_real" default="false" doc="Run on real robot."/>

	<arg name="robot_name" default="sweetie_bot_proto2" doc="Robot-specific configuration packages prefix (e.g. set 'sweetie_bot_proto2' for 'sweetie_bot_proto2_description', 'sweetie_bot_proto2_moveit_config', 'sweetie_bot_proto2_deploy' packages)."/>
	<arg name="robot_profile" default="default" doc="Use configuration profile (load_param.launch, *.cpf, .log4cpp files) located in '`rospack find {robot_name}_deploy`/{robot_profile}' directory."/>
	<arg name="robot_profile_path" default="$(eval find(arg('robot_name')+'_deploy') + '/' + arg('robot_profile'))" doc="Fully qualified path to configuration profile. By default 'robot_name' and 'robot_profile' parameters are sed to determine it."/>
	<arg name="robot_ns" default="/" doc="Namespace where to run robot components "/>

	<machine name="localhost" address="localhost" user="$(env USER)" default="true"/>
	<machine name="sweetiebot" address="$(eval robot_name.replace('sweetie_bot_',''))" user="sweetie" default="never"/>

	<group ns="$(arg robot_ns)">
		<!-- eyes: start eyes with other robot-specific node -->
		<include if="$(arg run_real)" file="$(arg robot_profile_path)/robot_module.launch" />
		<!-- eyes: start eyes in non-ismulation for debug purpose  -->
		<group unless="$(arg run_real)">
			<group if="$(eval arg('robot_name') == 'sweetie_bot_proto2')">

				<node name="eye_left"  pkg="sweetie_bot_eyes" type="proto2_eye">
					<param name="is_left" value="true"/>
				</node>
				<node name="eye_right" pkg="sweetie_bot_eyes" type="proto2_eye">
					<param name="is_left" value="false"/>
				</node>

			</group>

			<group if="$(eval arg('robot_name') == 'sweetie_bot_proto3')">

				<node name="eye_left"  pkg="sweetie_bot_eyes" type="proto3_eyes">
				</node>

			</group>
		</group>
	</group>
</launch>
