<!-- DEPLOYMENT: run eyes -->
<launch>
	<!-- <arg name="machine" default="localhost" doc="Machine to run nodes"/> -->
	<arg name="run_real" default="false" doc="Run on real robot."/>
	<arg name="ns" default="/sweetie_bot" doc="Namespace to run nodes."/>

	<machine name="localhost" address="localhost" user="$(env USER)" default="true"/>
	<machine name="sweetiebot" address="sweetie" user="pi" default="never"/>
	
	<!-- eyes -->
	<group ns="$(arg ns)">
		<include file="$(find sweetie_bot_deploy)/highlevel/eyes_module.launch">
			<arg name="run_real" value="$(arg run_real)" />
		</include>
	</group>
</launch>
