<!-- MODULE: launch flexbe behavior node (in robot_ns) and opertor interface operator interface (in flexbe_ns). -->
<launch>
	<arg name="flexbe_ns" default="/flexbe" doc="Location where flexbe user interface should be started."/>
	<arg name="robot_ns" default="/" doc="Namspace where main robot nodes and topics are located."/>

	<arg name="gui" default="true" doc="Run flexbe behaviour engine GUI"/>

	<!-- run behavior node  in robot namespace -->
	<node ns="$(arg robot_ns)" name="behavior" pkg="flexbe_onboard" type="start_behavior" respawn="true">
		<!-- common remaps to current namespace -->
		<remap from="/tf" to="tf"/>
		<remap from="/tf_static" to="tf_static"/>
		<remap from="/joint_states" to="joint_states"/>
		<remap from="/robot_description" to="robot_description"/>
		<remap from="/robot_description_semantic" to="robot_description_semantic"/>
		<!-- mapping for behavior node in another namespace -->
		<remap from="flexbe/command_feedback"	to="$(arg flexbe_ns)/flexbe/command_feedback" />
		<remap from="flexbe/heartbeat"			to="$(arg flexbe_ns)/flexbe/heartbeat" />
		<remap from="flexbe/log"				to="$(arg flexbe_ns)/flexbe/log" />
		<remap from="flexbe/outcome_request"	to="$(arg flexbe_ns)/flexbe/outcome_request" />
		<remap from="flexbe/start_behavior"		to="$(arg flexbe_ns)/flexbe/start_behavior" />
		<remap from="flexbe/status"				to="$(arg flexbe_ns)/flexbe/status" />
		<remap from="flexbe/request_mirror_structure" to="$(arg flexbe_ns)/flexbe/request_mirror_structure" />
		<remap from="flexbe/mirror/outcome"		to="$(arg flexbe_ns)/flexbe/mirror/outcome" />
		<remap from="flexbe/mirror/sync"		to="$(arg flexbe_ns)/flexbe/mirror/sync" />
		<remap from="flexbe/mirror/structure"	to="$(arg flexbe_ns)/flexbe/mirror/structure" />
		<remap from="flexbe/mirror/preempt"		to="$(arg flexbe_ns)/flexbe/mirror/preempt" />
		<remap from="flexbe/debug/current_state" to="$(arg flexbe_ns)/flexbe/debug/current_state" />
		<remap from="flexbe/command/preempt"	to="$(arg flexbe_ns)/flexbe/command/preempt" />
		<remap from="flexbe/command/transition" to="$(arg flexbe_ns)/flexbe/command/transition" />
		<remap from="flexbe/command/repeat"		to="$(arg flexbe_ns)/flexbe/command/repeat" />
		<remap from="flexbe/command/pause"		to="$(arg flexbe_ns)/flexbe/command/pause" />
		<remap from="flexbe/command/lock"		to="$(arg flexbe_ns)/flexbe/command/lock" />
		<remap from="flexbe/command/unlock"		to="$(arg flexbe_ns)/flexbe/command/unlock" />
		<remap from="flexbe/command/attach"		to="$(arg flexbe_ns)/flexbe/command/attach" />
		<remap from="flexbe/command/sync"		to="$(arg flexbe_ns)/flexbe/command/sync" />
		<remap from="flexbe/command/autonomy"	to="$(arg flexbe_ns)/flexbe/command/autonomy" />
		<remap from="flexbe/behavior_input"		to="$(arg flexbe_ns)/flexbe/behavior_input" />
		<remap from="flexbe/behavior_update"	to="$(arg flexbe_ns)/flexbe/behavior_update" />
		<remap from="flexbe/uicommand"			to="$(arg flexbe_ns)/flexbe/uicommand" />
		<remap from="flexbe/request_behavior"	to="$(arg flexbe_ns)/flexbe/request_behavior" />
		<remap from="flexbe/ui_version"			to="$(arg flexbe_ns)/flexbe/ui_version" />
	</node>
	<!-- launch action server -->
	<node ns="$(arg flexbe_ns)" name="action_server" pkg="flexbe_widget" type="be_action_server" />

	<!-- launch user interface -->
	<group if="$(arg gui)">
		<include file="$(find sweetie_bot_deploy)/highlevel/flexbe_gui.launch" >
			<arg name="flexbe_ns" value="$(arg flexbe_ns)" />
		</include>
	</group>
</launch>
