<launch>
	<arg name="run_real" default="false" doc="Run on real robot."/>
	<arg name="robot_name" default="sweetie_bot_proto2" doc="Robot-specific configuration packages prefix (e.g. set 'sweetie_bot_proto2' for 'sweetie_bot_proto2_description', 'sweetie_bot_proto2_moveit_config', 'sweetie_bot_proto2_deploy' packages)."/>
	<arg name="robot_profile" default="default" doc="Use configuration profile (load_param.launch, *.cpf, .log4cpp files) located in '`rospack find {robot_name}_deploy`/{robot_profile}' directory."/>
	<arg name="robot_profile_path" default="$(eval find(arg('robot_name')+'_deploy') + '/' + arg('robot_profile'))" doc="Fully qualified path to configuration profile. By default 'robot_name' and 'robot_profile' parameters are used to determine it."/>
	<arg name="robot_ns" default="/" doc="Namespace where to run robot components "/>

	<arg name="record_video" default="false" doc="Record video stream from camera."/>

	<arg name="config_overide" default="false" doc="If set to true loads provided configuration file before "/>
	<arg name="config_file" default="vision.yaml" doc="Configuration file name in robot profile directory."/>

	<group if="$(arg config_overide)">
		<rosparam command="load" file="$(eval arg('robot_profile_path') + '/' + arg('config_file'))"  ></rosparam> 
	</group>

	<!-- connect node to real robot -->
	<node if="$(arg run_real)" pkg="sweetie_bot_vision" type="vino_launcher" args="vision_node " name="vision" ns="$(arg robot_ns)" respawn="true">
		<remap from="detections" to="$(arg robot_ns)/detections" />
		<remap from="hmi/detections" to="$(arg robot_ns)/hmi/detections" />
	</node>
	<!-- run simulted node -->
	<node unless="$(arg run_real)" pkg="sweetie_bot_vision" type="vino_launcher" args="vision_node " name="vision_simulated" ns="$(arg robot_ns)" respawn="true">
		<remap from="detections" to="$(arg robot_ns)/detections" />
		<remap from="hmi/detections" to="$(arg robot_ns)/hmi/detections" />
		<param name="camera_frame" value="camera_link_simulation" />
	</node>
	<!-- start recording video stream -->
	<node if="$(eval record_video and run_real)" pkg="sweetie_bot_vision" type="gstreamer_record" name="videostream_recorder" ns="$(arg robot_ns)" respawn="true">
	</node>
</launch>
