[submodule "config/sweetie_bot_proto2_description"]
	path = config/sweetie_bot_proto2_description
	url = ../sweetie_bot_proto2_description.git
	branch = master
[submodule "rt_control"]
	path = rt_control
	url = ../sweetie_bot_rt_control.git
	branch = devel
[submodule "behavior/sweetie_bot_sounds"]
	path = behavior/sweetie_bot_sounds
	url = ../sweetie_bot_sounds.git
[submodule "behavior/sweetie_bot_flexbe_behaviors"]
	path = behavior/sweetie_bot_flexbe_behaviors
	url = ../sweetie_bot_flexbe_behaviors.git
