TZ=UTC

# optional
HF_TOKEN="hf_your_huggingface_token"
#PIP_INDEX_URL="https://nexus.example.com/repository/pypi-all/simple"
#PYTORCH_INDEX_URL="https://nexus.example.com/repository/pypi-pytorch-cu121/simple"

# https://github.com/sonatype-nexus-community/pytorch-pypi
#GITHUB_RELEASES_PROXY_BASE="https://nexus.example.com/repository/raw-github-oobabooga-releases/"

# libretranslate (argos)
#ARGOS_PACKAGE_INDEX="https://nexus.example.com/repository/argos-index-hosted/"
# limit languages to save up space and RAM
#LT_LOAD_ONLY=en,nl,fr,es,de,ru,zh
#LT_FRONTEND_LANGUAGE_TARGET='en'
# need internet access
#LT_UPDATE_MODELS=true
# default is cpu
#ARGOS_DEVICE_TYPE=cuda

# Voice
#VOICE_MODEL_NAME=tts_models/multilingual/multi-dataset/xtts_v2
#VOICE_PORT=5002
#VOICE_USE_CUDA=true
#COQUI_TOS_AGREED=1

# LLM
#LLM_PORT=5001 # API 5000
#LLM_REPO=https://github.com/oobabooga/text-generation-webui.git
# https://github.com/oobabooga/text-generation-webui/issues/7415
#LLM_REF=v3.23

#LLM_MODEL_REPO=TheBloke/LLaMA-13b-GGUF
#LLM_SPECIFIC_FILE=llama-13b.Q2_K.gguf
#LLM_LOADER=llama.cpp

#TTS_MODEL_NAME=tts_models/multilingual/multi-dataset/xtts_v2
#TTS_MODEL_DIR=/root/.local/share/tts/tts_models--multilingual--multi-dataset--xtts_v2
#TTS_MODEL_FILE=model.pth
#TTS_CONFIG_FILE=config.json
#TTS_SPEAKERS_FILE=speakers_xtts.pth
