<!-- MODULE: init robot-specific nodes and ROS services. -->
<!-- run_real and robot launch parameters are always assumed. -->
<launch>
	<arg name="robot_ns" default="/" doc="Namspace where main robot nodes and topics are located."/>

	<!-- Environment for OpenGL eyes  -->
	<env name="QT_QPA_EGLFS_KMS_CONFIG" value="$(find sweetie_bot_eyes)/config/eglfs.json" />
	<env name="QT_QPA_PLATFORM" value="eglfs" />
	<env name="QT_QPA_EGLFS_ALWAYS_SET_MODE" value="1" />
	<env name="QT_QPA_EGLFS_KMS_ATOMIC" value="1" />

	<!-- run eyes on fb device -->
	<node machine="sweetiebot" name="eyes"  pkg="sweetie_bot_eyes" type="proto3_eyes"></node>

	<!-- Check if path to battery exists -->
	<arg name="battery_path" default="$(eval eval('_' + '_import_' + '_(\'rospy\')').get_param('/hardware/battery_monitor/sysfs_path', ''))" />
	<arg name="is_battery_exists" default="$(eval 'true' if eval('_' + '_import_' + '_(\'os\')').path.exists('$(arg battery_path)') else 'false')" />

	<!-- run battery monitor -->
	<node ns="hardware" machine="sweetiebot" name="battery_monitor" pkg="sweetie_bot_battery_monitor" type="battery_monitor" if="$(arg is_battery_exists)">
		<remap from="battery_state" to="$(arg robot_ns)/battery_state" />
	</node>
</launch>
