<!-- MODULE: init robot-specific nodes and ROS services. -->
<!-- run_real and robot launch parameters are always assumed. -->
<launch>
	<arg name="robot_ns" default="/" doc="Namspace where main robot nodes and topics are located."/>

	<!-- Environment for OpenGL eyes  -->
	<env name="QT_QPA_EGLFS_KMS_CONFIG" value="$(find sweetie_bot_eyes)/config/eglfs.json" />
	<env name="QT_QPA_PLATFORM" value="eglfs" />
	<env name="QT_QPA_EGLFS_ALWAYS_SET_MODE" value="1" />
	<env name="QT_QPA_EGLFS_KMS_ATOMIC" value="1" />

	<!-- run eyes on fb device -->
	<node machine="sweetiebot" name="eyes"  pkg="sweetie_bot_eyes" type="proto3_eyes"></node>

	<!-- run horn on gpio device -->
	<node pkg="ws281x" name="horn" type="ws281x_node" clear_params="true">
	  <param name="led_count" value="1"/>
	  <param name="gpio_pin" value="21"/>
	  <param name="brightness" value="255"/>
	  <param name="strip_type" value="WS2811_STRIP_GRB"/>
	  <param name="target_frequency" value="800000"/>
	  <param name="dma" value="10"/>
	  <param name="invert" value="false"/>
	</node>

	<!-- control node for mouth, ears and horn -->
	<node pkg="sweetie_bot_body_language" name="body_language" type="sweetie_bot_body_language" />

	<!-- run battery monitor -->
	<node ns="hardware" machine="sweetiebot" name="battery_monitor" pkg="sweetie_bot_battery_monitor" type="battery_monitor" if="false">
		<remap from="battery_state" to="$(arg robot_ns)/battery_state" />
	</node>
</launch>
