resource_control:
    arbiter:
        priority: 20
        resources: [ leg1, leg2, leg3, leg4, head, eyes, tail, eyes_focus ]
aggregator_ref: 
    priority: 20
servo_inv:
    priority: 20
    lead: 0.056
aggregator_real:
    priority: 20
kinematics_inv:
    priority: 20
    kinematic_chains: [ leg1, leg3, leg4, leg2, head ]
    eps_pos: 0.0001
    timeout_pos: 0.003
    eps_vel: 0.01
    zero_vel_at_singularity: true
kinematics_fwd:
    priority: 20
    kinematic_chains: [ leg1, leg3, leg4, leg2, head ]
odometry_ref:
    priority: 20
    legs: [ leg1, leg3, leg4, leg2 ]
    force_contact_z_to_zero: true
    zero_twist_if_no_contacts: true
dynamics_inv:
    priority: 20
    legs: [ leg1, leg3, leg4, leg2 ]
timer:
    priority: 45
    period: 0.056
    herkulex_period: 0.056
