<!-- MODULE: init robot-specific nodes and ROS services. -->
<!-- run_real and robot launch parameters are always assumed. -->
<launch>
	<arg name="robot_ns" default="/" doc="Namspace where main robot nodes and topics are located."/>
	<!-- run eyes on fb device -->
	<node machine="sweetiebot" name="eyes"  pkg="sweetie_bot_eyes" type="eyes" args="-platform linuxfb:fb=/dev/fb0"></node>
	<!-- run battery monitor -->
	<node ns="hardware" machine="sweetiebot" name="battery_monitor" pkg="sweetie_bot_battery_monitor" type="battery_monitor">
		<remap from="battery_state" to="$(arg robot_ns)/battery_state" />
	</node>
</launch>
