<!-- MODULE: run rviz with robot visuzlization and robot control GUI in current namespace -->
<launch>
	<arg name="rviz_config" default="$(find sweetie_bot_deploy)/control/joint_space_control.rviz" doc="Rviz configuration file."/>
	<arg name="run_rviz" default="true" doc="Set true to start rviz. (Use as walkaround for rviz crash on Debina/Jessie)."/>

	<!-- manual joints control -->
	<node name="joint_state_ref" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="true"/>
		<rosparam param="source_list">["/sweetie_bot/motion/controller/joint_state/out_joints_src_reset"]</rosparam>
		<param name="rate" value="5"/>
		<param name="num_rows" value="6"/>
		<remap from="robot_description" to="/sweetie_bot/robot_description"/>
		<remap from="joint_states" to="/sweetie_bot/motion/controller/joint_state/in_joints_ref"/>
	</node>
	<!-- vizualization -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)">
		<remap from="robot_description" to="/sweetie_bot/robot_description"/>
		<remap from="/clicked_point" to="clicked_point"/>
		<remap from="/move_base_simple/goal" to="move_base_simple/goal"/>
		<remap from="/initialpose" to="initialpose"/>
		<env name="LC_NUMERIC" value="C" />
	</node>
	<node name="dynamics_visualizer" pkg="sweetie_bot_dynamics" type="visualizer" >
		<remap from="robot_model" to="/sweetie_bot/robot_model"/>
		<remap from="joint_state_accel" to="/sweetie_bot/motion/dynamics_inv/out_joints_accel_sorted"/>
		<remap from="balance" to="/sweetie_bot/motion/dynamics_inv/out_balance"/>
		<remap from="wrenches" to="/sweetie_bot/motion/dynamics_inv/out_wrenches_fixed"/> 
		<!-- <remap from="wrenches" to="/sweetie_bot/motion/kinematics_fwd/out_limbs"/> -->
		<remap from="supports" to="/sweetie_bot/motion/agregator_ref/out_supports_sorted"/>
	</node>
	<!-- robot stance control -->
	<node name="base_link_pose_marker" pkg="sweetie_bot_rviz_interactions" type="pose_marker" >
		<remap from="pose" to="/sweetie_bot/motion/controller/stance/in_base_ref"/>
	</node>
</launch>
