<!-- DEPLOYMENT: control and visualize robot with joint space controllers and moveit-->
<launch>
	<arg name="run_real" default="false" doc="Run on real robot."/>
	<arg name="robot" default="true" doc="Launch components which meant to be run on robot side."/>
	<arg name="host" default="true" doc="Launch components  which meant to be run on host side."/>

	<machine name="localhost" address="localhost" user="$(env USER)" />
	<machine name="sweetiebot" address="sweetie" user="pi" default="never"/>

	<!-- load parameters -->
	<group if="$(arg host)">
		<include ns="sweetie_bot" file="$(find sweetie_bot_deploy)/control/load_param.launch"/>
	</group>

	<!-- start robot -->
	<group ns="sweetie_bot">
		<!-- sweetie_bot core -->
		<include file="$(find sweetie_bot_deploy)/motion_core/sweetie_bot_core.launch">
			<arg name="run_real" value="$(arg run_real)" /> 
			<arg name="host" value="$(arg host)" /> 
			<arg name="robot" value="$(arg robot)" /> 
			<arg if="$(arg run_real)" name="modules" value="motion.lua controller__all.lua" />
			<arg unless="$(arg run_real)" name="modules" value="virtual_motion.lua controller_all.lua" />
			<arg name="overlays" value="control motion_core" /> 
			<arg name="interactive" value="false" /> 
		</include>
		<!-- moveit -->
		<include if="$(arg host)" file="$(find sweetie_bot_deploy)/control/moveit.launch" />
	</group>

	<!-- launch operator GUI -->
	<group ns="hmi" if="$(arg host)">
		<include file="$(find sweetie_bot_deploy)/control/hmi.launch">
			<arg name="rviz_config" value="$(find sweetie_bot_deploy)/control/moveit_control.rviz" /> 
			<arg name="run_rviz" value="false" /> 
		</include>
	</group>
</launch>
