<!-- MODULE: run move_group in current LOCAL context -->
<launch>
	<!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
	<include file="$(find sweetie_bot_proto2_moveit_config)/launch/planning_context.launch">
		<arg name="load_robot_description" value="false"/>
	</include>
	
	<!-- Run the main MoveIt executable  -->
	<group>
		<remap from="/tf" to="tf"/>
		<remap from="/tf_static" to="tf_static"/>
		<include file="$(find sweetie_bot_proto2_moveit_config)/launch/move_group.launch">
			<arg name="info" value="true"/>
			<arg name="jiggle_fraction" default="0.2" />
		</include>
	</group>
</launch>
