<!-- MODULE: run towr gait generator in current LOCAL context -->
<launch>
	<arg name="robot_ns" default="/" doc="Namspace where robot nodes and topics are located."/>
	
	<node name="gait_generator" pkg="sweetie_bot_gait_generator" type="towr_gait_generator" output="screen">
		<remap from="step_sequence" to="$(arg robot_ns)/motion/controller/step_sequence" />     
	</node>
</launch>
