<launch>
    <arg name="urls" default="{'0': 'http://ai.sweetie.bot:5000/v1/completions', '1':'http://localhost:5000/v1/completions'}"/>
    <node pkg="sweetie_bot_llm" type="llm_service_node" name="lang_model" output="screen">
        <rosparam param="lang_model_servers" subst_value="True">$(arg urls)</rosparam>
        <rosparam file="$(find sweetie_bot_llm)/config/en/profile.yaml" ns="profile/en" />
        <rosparam file="$(find sweetie_bot_llm)/config/ru/profile.yaml" ns="profile/ru" />
        <rosparam file="$(find sweetie_bot_llm)/config/ja/profile.yaml" ns="profile/ja" />
    </node>
</launch>
