<launch>
    <arg name="api_url_list" default="{'0': 'https://ai.sweetie.bot/llm/', '1':'http://localhost:5000/api/v1/generate'}"/>
    <node pkg="sweetie_bot_llm" type="llm_service_node" name="llm_service_node" output="screen">
        <rosparam param="api_url" subst_value="True">$(arg api_url_list)</rosparam>
    </node>
</launch>
