<!-- MODULE: run OROCOS motion core with specified parameteres and publish "joint_states" topic. -->
<launch>
	<arg name="machine" default="localhost" doc="Machine to run nodes" />  
	<arg name="modules" default="motion_core.lua" doc="OROCOS deployment modules list" /> 
	<arg name="overlays" default="motion_core" doc="OROCOS deployment overlays list" />
	<arg name="interactive" default="false" doc="Run in XTerm in interactive mode." /> 
	<arg name="param_namespace" default="" doc="Namespace for parameters of OROCOS node." />
	
	<group>
		<!-- OROCOS motion core -->
		<param name="param_ns" value="$(arg param_namespace)" />
		<node unless="$(arg interactive)" machine="$(arg machine)" name="motion" pkg="sweetie_bot_deploy" type="sweetie-bot-core" args="$(arg modules) $(arg overlays) __param_ns:=$(arg param_namespace)" output="screen"/>
		<node if="$(arg interactive)" machine="$(arg machine)" launch-prefix="xterm -e " name="motion" pkg="sweetie_bot_deploy" type="sweetie-bot-core" args="$(arg modules) $(arg overlays) __param_ns:=$(arg param_namespace)" output="screen" />
	</group>
</launch>
