<launch>

  <node name="sweetie_bot_eyes"  pkg="sweetie_bot_eyes" type="proto3_eyes" output="screen" args="-debug">
        <remap from="joint_state" to="motion/aggregator_ref/out_joints_sorted" />
        <param name="publish_pixmap" value="true"/>
        <param name="start_blinking" value="false"/>
  </node>

</launch>
