[Unit]
Description=Sweetie bot self test gui
After=sweetie_bot_self_test.service

[Service]
Type=oneshot
User=sweetie
Group=sudo
ExecStart=/bin/bash -c "source /opt/ros/sweetie_bot/setup.bash && rosrun sweetie_bot_self_test gui -platform linuxfb:fb=/dev/fb0"

[Install]
WantedBy=multi-user.target

