<launch>
  <include file="$(find sound_play)/soundplay_node.launch" />
  <arg name="enable_gtranslate" default="True"/>
  <!-- arg name="voice_profile" default="coqui-ai"/ -->
  <node pkg="sweetie_bot_voice" type="voice" name="voice" output="screen">
    <rosparam command="load" ns="/" file="$(find sweetie_bot_voice)/config/test.yaml" ></rosparam>
    <rosparam param="enable_gtranslate" subst_value="True">$(arg enable_gtranslate)</rosparam>
  </node>
</launch>
