<launch>

  <arg name="model" />
  <arg name="gui" default="False" />

  <!-- param name="robot_description" textfile="$(find sweetie_bot_description)/robots/sweetie_bot_description.URDF" / -->
  <!-- param name="use_gui" value="$(arg gui)" / -->

  <include file="$(find sweetie_bot_joystick)/launch/ps3.launch" />
  <param name="somestring1" value="bar2" />


  <node name="sweetie_bot_eye_left"  pkg="sweetie_bot_eyes" type="eye" output="screen" args="-platform linuxfb:fb=/dev/fb1 -plugin EvdevKeyboard">
	<param name="j_up" value="12" />
	<param name="j_down" value="14" />
	<param name="j_left" value="15" />
	<param name="j_right" value="13" />
      <rosparam>
         private_param2: "a value"
         private_param3: "a value"
      </rosparam>
  </node>
  <node name="sweetie_bot_eye_rigth" pkg="sweetie_bot_eyes" type="eye" output="screen" args="-platform linuxfb:fb=/dev/fb2 -plugin EvdevKeyboard">
  </node>
  <!-- node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" / -->
  <!-- node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" / -->
  <!-- node name="rviz" pkg="rviz" type="rviz" args="-d $(find sweetie_bot_description)/urdf.rviz" required="true" / -->


</launch>
