<launch>
  <!-- See moveit_ros/visualization/doc/joystick.rst for documentation -->

  <!-- Check if device is connected -->
  <arg name="yaml_config" default="$(eval open(find(sweetie_bot_proto2_deploy) + '/default/hardware.yaml'))" />
  <arg name="dev" default="$(eval eval('_' + '_import_' + '_(\'yaml\')').safe_load(yaml_config)['hardware']['joystick']['sysfs_path'])" />
  <arg name="is_dev_exists" default="$(eval 'true' if eval('_' + '_import_' + '_(\'os\')').path.exists(dev) else 'false')" />

  <group if="$(arg is_dev_exists)">
    <!-- Launch joy node -->
    <node ns="hardware" pkg="joy" type="joy_node" name="joystick">
      <!-- Customize device parameter to match the location your joystick is plugged in on-->
      <remap from="~dev" to="~sysfs_path" />
      <param name="deadzone" value="0.2" />
      <param name="autorepeat_rate" value="40" />
      <param name="coalesce_interval" value="0.025" />
    </node>

    <!-- Launch python interface -->
    <node pkg="moveit_ros_visualization" type="moveit_joy.py" output="screen" name="moveit_joy"/>
  </group>

</launch>
