<!-- MODULE: run robot_state_publisher: subscribe on LOCAL joint_states and publish to LOCAL tf. -->
<launch>
	<arg name="machine" default="localhost" />  <!-- macine to run nodes -->
	<arg name="tf_prefix" default="" />  <!-- tf_prefix -->
	<arg name="joint_states_topic" default="joint_states" />  <!-- joint_states_topic topics -->
	<arg name="tf_namespace" default="" />  <!-- namespace for tf nd tf_static topics -->
	<arg name="name" default="robot_state_publisher" />  <!-- joint_states_topic topics -->

	<node name="$(arg name)" pkg="robot_state_publisher" type="robot_state_publisher">
		<param name="tf_prefix" value="$(arg tf_prefix)"/>
		<remap from="joint_states" to="$(arg joint_states_topic)"/>
		<remap from="/tf" to="$(arg tf_namespace)tf"/>
		<remap from="/tf_static" to="$(arg tf_namespace)tf_static"/>
	</node>
</launch>
